<nav>
  <ul>
    <li>
      <a routerLink="/select" [class.activated]="currentUrl == '/select'" title="Open">
        <i class="material-icons">folder_open</i>
      </a>
    </li>
    <li>
      <a [routerLink]="jsonFileService.fileName? '/edit' : null" [class.activated]="currentUrl == '/edit'" title="Edit">
        <i class="material-icons">edit</i>
      </a>
    </li>
    <li>
      <a  [routerLink]="jsonFileService.fileName? '/save' : null" [class.activated]="currentUrl == '/save'" title="Save">
        <i class="material-icons">save</i>
      </a>
    </li>
  </ul>
</nav>